<!doctype html>
<html lang="ko">

<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <meta name="keywords" content="<%=site_name%>" />
        <meta name="description" content="<%=site_name%>" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="author" content="커리어" />
        <meta name="Copyright" content="희망을 전하는 취업 포털 커리어" />
        <title>2021 광주권 온라인 채용박람회</title>

        <meta property="og:type" content="website" />
        <meta property="og:title" content="2021 광주권 온라인 채용박람회" />
        <meta property="og:description" content="2021 광주권 온라인 채용박람회, 취업지원, 채용정보, 현직자 특강, 온라인 취업컨설팅, 입사지원, 채용정보">
        <meta property="og:image" content="http://gjmoel.career.co.kr/images/property_img.jpg" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="210" />
        <meta property="og:url" content="https://mgjmoel.career.co.kr/" />
        <meta property="og:site_name" content="2021 광주권 온라인 채용박람회" />

        <!-- publishUpdateDt 변수 선언 파일 위치 → /common/constant.asp -->
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" type="text/css" href="../css/reset.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/slick.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/common.css?<%=publishUpdateDt%>1" />
        <link rel="stylesheet" type="text/css" href="../css/main.css?<%=publishUpdateDt%>3" />
        <link rel="stylesheet" type="text/css" href="../css/tools.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/sub.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/mobile.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/popup.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css?<%=publishUpdateDt%>" />
        <link rel="stylesheet" type="text/css" href="../css/swiper.min.css?<%=publishUpdateDt%>" />

        <link rel="stylesheet" type="text/css" href="../css/mm_resume.css" />

        <script type="text/javascript" src="../js/jquery-1.12.4.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/jquery-ui.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/placeholders.jquery.min.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/ui.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/ui.plugin.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/customTags.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/slick.min.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/swiper.min.js?<%=publishUpdateDt%>"></script>

        <script type="text/javascript" src="../js/comm_2009.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/validateCommon.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/function_2020.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/code.js?<%=publishUpdateDt%>"></script>
        <script type="text/javascript" src="../js/common2.js?<%=publishUpdateDt%>"></script>

        <script type="text/javascript" src="../js/mm_resume.js"></script>
        <script>
            $(document).ready(function() {
                $(this).customTags();
            });

        </script>


        <script>
            window.digFunArry = [];
            window.SERVER_TODAY = serverToday();
            $(document).ready(function() {
                var $this = $(this);
                $this.find('.fnDayPopWrap').each(function(idx) {
                    var params = $(this).data('fnStyle');
                    digFunArry.push(new MainDigCusFun(this, idx, params).init());
                });
            });

        </script>

    </head>

<body>

    <!-- 상단 -->

    <!-- Skipnavi -->
    <div id="skipnavi">
        <a href="#header-id">상단 바로가기</a>
        <a href="#contents-id">본문 바로가기</a>
        <a href="#footer-id">하단 바로가기</a>
    </div>
    <!-- // Skipnavi -->


    <!-- header -->
    <div id="header">
        <div class="header-wrap">
            <div class="logo">
                <h1><a href="default.html"><img src="../images/logo.png" alt="로고"></a></h1>
            </div>
            <div class="header_menu">
                <ul>
                    <li class="sch">
                        <a href="/jobs/list_search.asp">검색</a>
                    </li>

                    <!--
				<li class="login m_menu">
					<a href="#none" <% If wk_user_photo <> "" Then %>class="isLogin" style="background-image: url(http://www2.career.co.kr/hdrive/fair/mypic/<%=wk_user_photo%>);"<% End If %>>로그인</a>
				</li>
				-->
                    <li class="login m_menu">
                        <a href="#none">로그인</a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- mobile menu -->
        <div id="menu-overlay"></div>

        <div id="m-nav">
            <div class="topline">
                <div class="login_box">
                    <div class="img">
                        <!--<span <% If wk_user_photo <> "" Then %> style="background-image: url(http://www2.career.co.kr/hdrive/fair/mypic/<%=wk_user_photo%>);"<% End If %>></span>-->
                        <span></span>
                    </div>

                    <div class="login_info">
                        <% If g_LoginChk = "1" Then %>
                        <div class="txts">
                            <p class="name"><span><%=user_name%></span>님</p>
                        </div>
                        <% Else %>
                        <div class="l_btnsWrap auto">
                            <!--<span class="txt">개인회원으로 로그인 해주세요</span>-->
                        </div>

                        <% End If %>
                    </div>
                </div>

                <% If g_LoginChk = "1" Then %>
                <button type="button" class="btn logout" onclick="location.href='/logout.asp'">로그아웃</button>
                <% Else %>
                <button type="button" class="btn login" onclick="location.href='/my/login.asp';">로그인</button>
                <% End If %>

                <button type="button" id="close-toggle" class="btn close">닫기</button>
            </div>
            <div id="m-gnb">
                <ul>
                    <li>
                        <div class="depth1">
                            <a href="/my/consulting_list.asp" class="menu">
                                <span>구직자 컨설팅</span>
                                <div class="tsm">구직자 컨설팅 현황</div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="depth1">
                            <a href="/my/lecture_list.asp" class="menu">
                                <span>구직자 특강</span>
                                <div class="tsm">구직자 특강 현황</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="btn_area">
                <ul>
                    <li><a href="/board/notice_list.asp">공지사항</a></li>
                    <li><a href="/board/qna.asp">자주묻는 질문</a></li>
                </ul>
            </div>
            <!--mobile_nave end-->

            <script type="text/javascript">
                // menu icon states, opening main nav
                $('.m_menu').click(function() {
                    $(this).toggleClass('open');
                    $('#m-nav,#menu-toggle,#page-content,#menu-overlay').toggleClass('open');
                    $('#m-nav ul li,.submenu-toggle').removeClass('open');
                });

                // clicking on overlay closes menu
                $('#menu-overlay,#close-toggle').mousedown(function() {
                    $('*').removeClass('open');
                });
                // GNB
                var menu, menuLi, menuLink;
                menu = $("#m-gnb");
                menuLi = $("#m-gnb > ul > li");
                menuLink = $("#m-gnb > ul > li > .depth1 > a.menu");
                menuLink.on("click", function() {
                    if ($(this).parents("li").hasClass("on")) {
                        $(this).parents("li:has(ul)").children("ul").slideUp(250);
                        $(this).parents("li:has(ul)").removeClass("on");
                    } else {
                        menuLi.not($(this).parents("li")).children("ul").slideUp(250);
                        menuLi.not($(this).parents("li")).removeClass("on");
                        $(this).parents("li:has(ul)").children("ul").slideDown(250);
                        $(this).parents("li:has(ul)").addClass("on");
                    }
                    return false;
                });

            </script>
        </div>
        <!-- mobile menu -->

        <div class="gnb">
            <div class="inner fnNotSlickSliderStatic" data-scroll-spacing="3rem">

                <div class='tp tp1 <% If InStr(Request.ServerVariables("url"), "/board/info.asp") > 0 Then %>'>
                    <a href="/board/info.asp"><span>박람회 안내</span></a>
                </div>

                <div class='tp tp3 <% If InStr(Request.ServerVariables("url"), "/jobs") > 0 Then %>  <% End If %>'>
                    <a href="/jobs/list.asp"><span>채용공고</span></a>
                </div>
                <div class='tp tp4 <%If InStr(Request.ServerVariables("url"), "/lecture/") or InStr(Request.ServerVariables("url"), "/consulting") > 0 or InStr(Request.ServerVariables("url"), "/educe") > 0 Then %> <% End If %>'>
                    <a href="#"><span>컨설팅ㆍ특강</span></a>
                    <div class="depth_gnb">
                        <div class="menu">
                            <ul class="depth2 fnNotSlickSliderStatic">
                                <li class='tp'><a href="/consulting/schedule.asp">전체 일정표</a></li>
                                <li class='tp'><a href="/consulting/list.asp">구직자 컨설팅</a></li>
                                <li><a href="/lecture/list.asp">구직자 특강</a></li>
                                <li class='tp'><a href="/educe/guid.asp">AI역량검사</a></li>
                                <li><a href="/consulting/list_biz.asp">기업 컨설팅</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class='tp tp5 <%If  InStr(Request.ServerVariables("url"), "/salary") or InStr(Request.ServerVariables("url"), "/tools") or InStr(Request.ServerVariables("url"), "/board/list.asp") > 0 Then %> <% End If %>'>
                    <a href="#"><span>취업자료실</span></a>
                    <div class="depth_gnb">
                        <div class="menu">
                            <ul class="depth2 fnNotSlickSliderStatic">
                                <li class="tp"><a href="/board/list.asp?gubun=4">정책 영상 홍보관</a></li>
                                <li class="tp"><a href="/tools/salary_calculator.asp">스마트 계산기</a></li>
                                <li><a href="/board/list.asp?gubun=6">카드뉴스</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class='tp tp6 <%If InStr(Request.ServerVariables("url"), "/board/notice_list") or InStr(Request.ServerVariables("url"), "/board/jobclass_list") Then %> <% End If %>'>
                    <a href="#"><span>공지사항</span></a>
                    <div class="depth_gnb">
                        <div class="menu">
                            <ul class="depth2 fnNotSlickSliderStatic">
                                <li class="tp"><a href="/board/notice_list.asp">공지사항</a></li>
                                <li class="tp"><a href="/board/jobclass_list.asp?gubun=2">자주 묻는 질문</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <script>
                $(document).ready(function() {
                    $('#header .gnb>.inner>.tp>a').click(function() {
                        var $this = $(this);
                        var menu = $this.closest('.tp').find('.depth_gnb .menu');
                        $('#header .gnb .tp').removeClass('active');
                        if (menu.length) {
                            $('.gnb').addClass('open');
                            $this.closest('.tp').addClass('active');
                        } else {
                            //$('.gnb').removeClass('open');
                        }
                    });
                });

            </script>
        </div>


    </div>
    <!-- //header -->
</script>
</head>
<body>

<!-- 상단 -->
<!--#include virtual = "/include/gnb/topMenu.asp"-->
<!-- 상단 -->

<!-- 본문 -->
<form method="post" id="frm_list" name="frm_list">
<input type="hidden" id="gubun" name="gubun" value="<%=gubun%>">

<div id="contents" class="sub_page">
	<div class="visual_area onlineQA">
		<% If gubun = "6" Then %>
		<h2>카드뉴스</h2>
		<% ElseIf gubun = "4" Then %>
		<h2>정책 영상 홍보관</h2>
		<% Else %>
		<h2>이벤트</h2>
		<% End If %>
	</div>


	<div class="contents">
		<div class="con_box">
            
            <div class="thumb_notice">
                <div class="innerWrap">
                    <div class="thumb_inner">
                        <ul class="lst">
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=320&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021102217031005430.jpg" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 직무설명회 - 항공정비</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=320&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=317&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101117220809062.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 채용설명회 - 보미건설</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=317&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=316&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101116521102323.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 취업특강 - 비대면 면접 성공방법</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=316&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=315&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101115160002598.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 채용설명회 - 한국서부발전</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=315&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=314&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101115151103646.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 채용설명회 - 영림</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=314&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=313&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101115134509351.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 취업특강 - 직무중심 자소서 작성법</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=313&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=312&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202110/2021101115120808896.PNG" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 취업특강-나를 알면 백전백승</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=312&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=288&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202107/2021070216592309354.png" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">빛나는 내일(my job), 2021 전역예정장병 온라인 취업박람회 하이라이트 보기!!</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=288&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=287&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202106/2021062014015507999.jpg" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 채용설명회 - 한미약품</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=287&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                            <li class="tp">
                                <div class="inner">
                                    <a href="view.asp?seq=286&gubun=4&schKeyword=&page=1" class="lt">
										
                                        <img src="http://moti.career.co.kr/files/notice/202106/2021062013524602785.jpg" alt=""/>
                                    </a>
                                    <div class="cont">
                                        <div class="tit">[다시보기] 취업특강 - 예비 신입사원 비즈니스 매너</div>
                                        <div class="stit">
											
											출처 : 2021 전역예정장병 온라인 취업박람회
										</div>
                                    </div>
                                    <div class="rt">
                                        <a href="view.asp?seq=286&gubun=4&schKeyword=&page=1" class="btns blue">자세히 보기</a>
                                    </div>
                                </div>
                            </li>
							
                        </ul>
                    </div>
                </div>
            </div>
            <div class="paging_area"><li><strong>1</strong></li><li><a href='/board/list.asp?page=2&gubun=4&schKeyword='>2</a></li><li><a href='/board/list.asp?page=3&gubun=4&schKeyword='>3</a></li><li><a href='/board/list.asp?page=4&gubun=4&schKeyword='>4</a></li><li><a href='/board/list.asp?page=5&gubun=4&schKeyword='>5</a></li><li class="btn next"><a href='/board/list.asp?page=6&gubun=4&schKeyword='><span></span></a></li></div>
		</div><!--//con_box-->
	</div><!-- .content -->

</div>

</div>
</form>
<!-- //본문 -->

<!-- 하단 -->
<!--#include virtual = "/include/footer.asp"-->
<!-- 하단 -->

</body>
</html>
